[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-spectacular = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = {extras = ["crypto"] }
django-environ = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
